<h3 mat-dialog-title>Crear sala</h3>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name" placeholder="Nombre">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.capacity" placeholder="Capacidad">
  </mat-form-field>
</div>
<div mat-dialog-actions class="pull-right">
  <button mat-raised-button (click)="close()" class="btn-danger" style="margin-right: 5px">Cancelar</button>
  <button mat-raised-button [mat-dialog-close]="data" class="btn-success" >Guardar</button>
</div>
