.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
}

mat-table {
  margin-top: 10px;
}

.cdk-column-options{
  display:flex;
  justify-content:center;
}

.cdk-column-quantity {
  display: flex;
  justify-content: center;
}

.mat-radio-button{
  min-width: 25%;
}

