<h3 mat-dialog-title>Solicitud de asignación</h3>
<div mat-dialog-content fxLayout="column" fxLayoutGap="5px" style="padding-bottom: 5px ">
  <p><b>Solicitante:</b> {{request.professor.name}}</p>
  <p><b>Sección:</b> {{request.section.name}}</p>
  <p><b>Sala:</b> {{request.classroom.name}}</p>
  <div *ngIf="!request.special">
    <div *ngIf="request.span > 0">
      <b>Periodos: </b>{{textOfDay(request.day)}}, Bloques [{{request.block + 1}}-{{request.block + request.span}}]
    </div>
    <div *ngIf="request.span == 0">
      <b>Periodo: </b>{{textOfDay(request.day)}}, Bloque {{request.block + 1}}
    </div>
  </div>
  <div *ngIf="request.special">
    <b>Válido en: </b>{{request.expiration | date: 'dd-MMM' }}, Bloque {{request.block + 1}}
  </div>
  <p><b>Motivo:</b> {{request.comment}}</p>
</div>
<div mat-dialog-actions class="pull-right">
  <button mat-raised-button (click)="close()" class="btn-danger">Cancelar</button>
  <button mat-raised-button [disabled]="!request.available || request.accepted" [mat-dialog-close]="request" class="btn-success">Aceptar</button>
</div>