<h3 mat-dialog-title>Solicitud de asignación</h3>
<div mat-dialog-content fxLayout="column" fxLayoutGap="5px" style="padding-bottom: 5px ">
  <p><b>Solicitante:</b> {{data.request.professor.name}}</p>
  <p><b>Sección:</b> {{data.request.section.name}}</p>
  <p><b>Sala:</b> {{data.request.classroom.name}}</p>
  <div *ngIf="!data.request.special">
    <div *ngIf="data.request.span > 0">
      <b>Periodos: </b>{{textOfDay(data.request.day)}}, Bloques [{{data.request.block + 1}}-{{data.request.block + data.request.span}}]
    </div>
    <div *ngIf="data.request.span == 0">
      <b>Periodo: </b>{{textOfDay(data.request.day)}}, Bloque {{data.request.block + 1}}
    </div>
  </div>
  <div *ngIf="data.request.special">
    <b>Válido en: </b>{{data.request.expiration | date: 'dd-MMM' }}, Bloque {{data.request.block + 1}}
  </div>
  <p><b>Motivo:</b> {{data.request.comment}}</p>
</div>
<div mat-dialog-actions class="pull-right">
  <button mat-raised-button (click)="close()" class="btn-danger">Cancelar</button>
  <button mat-raised-button [disabled]="!data.available || data.request.accepted" [mat-dialog-close]="data.request" class="btn-success">Aceptar</button>
</div>