<div fxLayout="column" fxLayoutGap="10px">

  <table class="table table-bordered mat-elevation-z1">
    <thead>
      <tr>
        <th style="width: 5%">Bloque</th>
        <th style="width: 15%">Lunes</th>
        <th style="width: 15%">Martes</th>
        <th style="width: 15%">Miercoles</th>
        <th style="width: 15%">Jueves</th>
        <th style="width: 15%">Viernes</th>
        <th style="width: 15%">Sábado</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of dataSource; let i = index">
        <th scope="row">{{item.id}}</th>
        <td>
          <button type="button" class="btn button-check btn-sm"
            [class.btn-success]="checks.monday[item.id - 1]" [class.btn-outline-success]="!checks.monday[item.id - 1]"
            (click)="checkButton(checks.monday, item.id - 1, WeekDay.Monday)" ngDefaultControl>
            {{checks.monday[item.id - 1] ? (names.monday[item.id - 1] == '' ? textOnTrue : names.monday[item.id - 1]) : textOnFalse}}
          </button>
        </td>
        <td>
          <button type="button" class="btn button-check btn-sm" 
            [class.btn-success]="checks.tuesday[item.id - 1]" [class.btn-outline-success]="!checks.tuesday[item.id - 1]"
            (click)="checkButton(checks.tuesday, item.id - 1,WeekDay.Tuesday)" ngDefaultControl>
            {{checks.tuesday[item.id - 1] ? (names.tuesday[item.id - 1] == '' ? textOnTrue : names.tuesday[item.id - 1]) : textOnFalse}}
          </button>
        </td>
        <td>
          <button type="button" class="btn button-check btn-sm" [class.btn-success]="checks.wednesday[item.id - 1]"
            [class.btn-outline-success]="!checks.wednesday[item.id - 1]"
            (click)="checkButton(checks.wednesday, item.id - 1,WeekDay.Wednesday)" ngDefaultControl>
            {{checks.wednesday[item.id - 1] ? (names.wednesday[item.id - 1] == '' ? textOnTrue :names.wednesday[item.id - 1]) : textOnFalse}}
          </button>
        </td>
        <td>
          <button type="button" class="btn button-check btn-sm" [class.btn-success]="checks.thursday[item.id - 1]"
            [class.btn-outline-success]="!checks.thursday[item.id - 1]"
            (click)="checkButton(checks.thursday, item.id - 1,WeekDay.Thursday)" ngDefaultControl>
            {{checks.thursday[item.id - 1] ? (names.thursday[item.id - 1] == '' ? textOnTrue: names.thursday[item.id - 1]) : textOnFalse}}
          </button>
        </td>
        <td>
          <button type="button" class="btn button-check btn-sm" [class.btn-success]="checks.friday[item.id - 1]"
            [class.btn-outline-success]="!checks.friday[item.id - 1]"
            (click)="checkButton(checks.friday, item.id - 1, WeekDay.Friday)" ngDefaultControl>
            {{checks.friday[item.id - 1] ? (names.friday[item.id - 1] == '' ? textOnTrue: names.friday[item.id - 1]) : textOnFalse}}
          </button>
        </td>
        <td>
          <button type="button" class="btn button-check btn-sm" [class.btn-success]="checks.saturday[item.id - 1]"
            [class.btn-outline-success]="!checks.saturday[item.id - 1]"
            (click)="checkButton(checks.saturday, item.id - 1, WeekDay.Saturday)" ngDefaultControl>
            {{checks.saturday[item.id - 1] ? (names.saturday[item.id - 1] == '' ? textOnTrue : names.saturday[item.id - 1]) : textOnFalse}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div fxFlex="row" fxLayoutAlign="end">
    <button mat-raised-button (click)="close()" style="margin-right: 5px">Cancelar</button>
    <button mat-raised-button (click)="checked()" class="btn-success pull-right">Aceptar</button>
  </div>
</div>