<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3 class="title">
          Edificios
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z1">

          <!-- Block Column -->
          <ng-container matColumnDef="block">
            <mat-header-cell *matHeaderCellDef> Bloque </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.block}} </mat-cell>
          </ng-container>


          <!-- Monday Column -->
          <ng-container matColumnDef="monday">
            <mat-header-cell *matHeaderCellDef> Lunes </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="card-plain" >
                <!--<b>{{ (class.length>12)? (class | slice:0:12)+'..':(class) }}</b>
                <br>
                <b>{{ (professor.length>12)? (professor | slice:0:12)+'..':(professor) }}</b>
                -->
                <span class="badge badge-success">Disponible</span>

              </div>
            </mat-cell>
          </ng-container>

          <!-- Tuesday Column -->
          <ng-container matColumnDef="tuesday">
            <mat-header-cell *matHeaderCellDef> Martes </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="card-plain">
                <div class="card-plain" >
                  <!--<mat-chip-list>
                    <mat-chip style="background: #4caf50" selected>Disponible</mat-chip>
                  </mat-chip-list>-->
                  <button mat-raised-button class="btn-success">Disponible</button>
                  <!--<span class="badge badge-success">Disponible</span>-->

                </div>
              </div>
            </mat-cell>
          </ng-container>

          <!-- Wednesdady Column -->
          <ng-container matColumnDef="wednesday">
            <mat-header-cell *matHeaderCellDef> Miércoles </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="card-plain">
                <div class="card-plain" >
                  <!--<mat-chip-list>
                    <mat-chip  matTooltip="Física General I - Sección A <br> Milton Elgueta" matTooltipPosition="above" color="warn" selected>No Disponible</mat-chip>
                  </mat-chip-list>-->
                  <!--<button mat-raised-button class="btn-danger"
                          matTooltip="Física General I - Sección A <br> Milton Elgueta"
                          matTooltipPosition="above" >
                    No Disponible</button>-->
                  <span class="badge badge-success">Disponible</span>

                </div>
              </div>
            </mat-cell>
          </ng-container>

          <!-- Thursday Column -->
          <ng-container matColumnDef="thursday">
            <mat-header-cell *matHeaderCellDef> Jueves </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="card-plain">
                <div class="card-plain" >
                  <span class="badge badge-success">Disponible</span>
                </div>
              </div>
            </mat-cell>
          </ng-container>

          <!-- Friday Column -->
          <ng-container matColumnDef="friday">
            <mat-header-cell *matHeaderCellDef> Viernes </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="card-plain">
                <div class="card-plain" >
                  <span class="badge badge-danger">No Disponible</span>
                </div>
              </div>
            </mat-cell>
          </ng-container>

          <!-- Saturday Column -->
          <ng-container matColumnDef="saturday">
            <mat-header-cell *matHeaderCellDef> Sábado </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="card-plain">
                <div class="card-plain" >
                  <!--<button mat-raised-button class="btn-danger"
                          data-toggle="tooltip" data-html="true"
                          title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
                    No Disponible</button>-->
                  <span matTooltip="Física General I - Sección A <br> Milton Elgueta"
                        matTooltipPosition="above" class="badge badge-danger">No Disponible</span>

                </div>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
