<div class="main-content">
  <div fxLayout="column" class="container-fluid">
    <!--flex-direction: column;-->
    <div fxLayout="row">
      <h3 class="title">
        Profesores
      </h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" class="data-options">
      <button (click)="addTeacher()" mat-raised-button class="btn-success">
        <mat-icon>add</mat-icon>
        Agregar
      </button>
    </div>
    <div fxFlexFill fxLayout="column">
      <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1" [class.hidden]="!teachers">

        <ng-container matColumnDef="name">
          <mat-header-cell class="name-cell" *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="options">
          <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
          <mat-cell class="options-cell" *matCellDef="let element">
            <button mat-raised-button class="btn-primary" style="margin-right: 5px">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-raised-button class="btn-danger">
              <mat-icon>delete</mat-icon>
            </button>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator class="mat-elevation-z1" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        *ngIf="teachers">
      </mat-paginator>

    </div>
  </div>

  <ng-template #noSubjects>
    <div>
      No hay profesores registrados
    </div>

  </ng-template>
</div>