<div class="main-content">
    <div fxLayout="column" class="container-fluid">
        <!--flex-direction: column;-->
        <ng-container *ngIf="section | async as section">
            <div fxLayout="row">
                <h3 class="title">
                    Horario Sección: <b> {{section.name}}</b>
                </h3>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center">
                <mat-form-field>
                    <input matInput type="number" placeholder="Estudiantes" [(ngModel)]="section.students">
                </mat-form-field>
            </div>

            <app-schedule [checks]="checks" (completed)="completed($event)" (canceled)="close($event)"></app-schedule>
        </ng-container>
    </div>
</div>