<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3 class="title">
          Carreras
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-2 offset-10">
        <button (click)="addCareer()" mat-raised-button class="btn-success pull-right">
          <mat-icon>add</mat-icon>
          Agregar
        </button>
      </div>
    </div>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z1" *ngIf="careers ; else noCarrers">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell class="name-cell" *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Options Column -->
      <ng-container matColumnDef="options" >
        <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell class="options-cell" *matCellDef="let element">
          <button  mat-raised-button class="btn-success" style="margin-right: 5px">
            <mat-icon>list</mat-icon>
            <!--Ver salas-->
          </button>
          <button (click)="editCareer(element)" mat-raised-button class="btn-primary" style="margin-right: 5px">
            <mat-icon>create</mat-icon>
            <!--Editar-->
          </button>
          <button (click)="deleteCareer(element)" mat-raised-button class="btn-danger">
            <mat-icon>delete</mat-icon>
            <!--Eliminar-->
          </button>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator  class="mat-elevation-z1" [length]="100"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

  </div>

  <ng-template #noCarrers>
    <p>
      No hay carreras
    </p>
  </ng-template>
</div>

