<h3 mat-dialog-title>{{data.action}} Profesor</h3>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.element.name" placeholder="Nombre">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" [(ngModel)]="data.element.email" placeholder="Correo">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" [(ngModel)]="data.element.password" placeholder="Contraseña">
  </mat-form-field>
</div>
<div mat-dialog-actions class="pull-right">
  <button mat-raised-button (click)="close()" style="margin-right: 5px">Cancelar</button>
  <button mat-raised-button type="submit"  [mat-dialog-close]="data.element" class="btn-success" >Guardar</button>
</div>
