mat-row {
    //border: 1px solid #e7e7e7;
    //font-weight: bold;
    min-height: 30px !important;
    height: 40px;
}

.cdk-column-monday {
    justify-content: center;
}
.cdk-column-tuesday {
    justify-content: center;
}
.cdk-column-wednesday {
    justify-content: center;
}
.cdk-column-thursday {
    justify-content: center;
}
.cdk-column-friday {
    justify-content: center;
}
.cdk-column-saturday {
    justify-content: center;
}