
table {
  width: 100%;
}

mat-table {
  margin-top: 20px;
  margin-bottom: 20px;

}

.cdk-column-options{
  display:flex;
  justify-content:center;
}

.cdk-column-capacity {
  display: flex;
  justify-content: center;
}

.cdk-column-available {
  display: flex;
  justify-content: center;
}

.button-completed {
  min-width: 83px !important;
}
