
table {
  width: 100%;
}

mat-table {
  margin-top: 20px;
}

.paginator {
  margin-bottom: 20px;
}

.cdk-column-options{
  display:flex;
  justify-content:center;
}

.cdk-column-capacity {
  display: flex;
  justify-content: center;
}
