<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3 class="title">
          Salas
        </h3>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
        <button mat-raised-button (click)="addClassroom()"  class="btn-success pull-right">
          <mat-icon>add</mat-icon>
          Agregar
        </button>
    </div>
      <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Capacity Column -->
        <ng-container matColumnDef="capacity">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Capacidad </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.capacity}} </mat-cell>
        </ng-container>

        <!-- Available Column -->
        <ng-container matColumnDef="available">
          <mat-header-cell *matHeaderCellDef> Disponible</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button class="btn btn-sm button-completed" type="button" (click)="changeAvailable(element)"
            [class.btn-success]="element.available" [class.btn-light]="!element.available">
            {{element.available ? 'Habilitada' : 'Deshabilitada'}}
          </button></mat-cell>
        </ng-container>

        <!-- Options Column -->
        <ng-container matColumnDef="options" >
          <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button [routerLink]="[element.id]" mat-raised-button class="btn-success" style="margin-right: 5px">
              <mat-icon>list</mat-icon>
              <!--Ver hoarios-->
            </button>
            <button (click)="editClassroom(element)" mat-raised-button class="btn-primary" style="margin-right: 5px">
              <mat-icon>create</mat-icon>
              <!--Editar-->
            </button>
            <button (click)="deleteClassroom(element)" mat-raised-button class="btn-danger">
              <mat-icon>delete</mat-icon>
              <!--Eliminar-->
            </button>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    <div class="row">
      <div class="col-2 offset-10">
        <button mat-raised-button routerLink="/resources/buildings" class="btn-info pull-right">
          <mat-icon>arrow_back</mat-icon>
          Volver
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #noClassrooms>
  <div class="row">
    <p>No hay salas de classes agregadas</p>
  </div>
</ng-template>
